@model IEnumerable<Trabalho_Gustavo_Karoline.Models.Consulta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento_Injetaveis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qtde_Vacina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.paciente.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medico.especialidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicamento_Injetaveis.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtde_Vacina)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
