@model IEnumerable<Trabalho_Gustavo_Karoline.Models.Medicamento_Injetaveis>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Medicamentos Injetaveis</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr style="background-color: #ADD8E6; color: #000;">
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qtde_Estoque)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtde_Estoque)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.codigo" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.codigo" class="btn btn-info">Detalhe</a> |
                    <a asp-action="Delete" asp-route-id="@item.codigo" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
